#tb{
    border-spacing:0px;
    border:1px solid black;
    padding:5px;
    margin:20px;
    width:450px;
    display:table;
    white-space:nowrap;
    border-collapse:separate;
}
#dv{
    font-weight:bold;
    font-size:.82em;
}
.nutrition_header{
    text-decoration:none;
    font-size:1.7em;
    margin:2px;
}

.topbar{
    padding-bottom:7px;
    border-bottom:9px solid black;
}
#amount{
    font-weight:bold;
    font-size:.82em;
    padding-bottom:4px;
}
.calbar{
    border-top:1px solid gray;
    border-bottom:4px solid black;
}
._bottom_{
    border-bottom:1px solid black;
}
._graybottom_{
    border-bottom:1px solid gray;
}
.right_align{
    text-align:right;
}
td{
    padding:2px;
}
tr{
    padding:2px;
}
.dots{
    display: block;
    list-style-type: disc;
    margin:0px;
    padding:2px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.smallinfo{
    font-size:.82em;
    width:100%;
    border-spacing:0px;
}

