<!DOCTYPE HTMl>
<html>
  <div class="pure-skin-pretty">
    
<head>
<link rel="stylesheet" href="/static/extras.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<style>
  .background {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  background-image: url("/static/taco.jpg");
  background-attachment: fixed;    
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 300 200;
  }
</style>

</head>

<div class="search-bar">
  
       <form class="pure-form">
	 <input type="text" class="pure-input-rounded">
	 <button type="submit" class="pure-button">
	   <img src="/static/search.png" alt="Search Icon"/></button>
       </form>

</div>

<div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-pull-right">
  <a class="pure-menu-heading" href="/"> 
    <img src="/static/icon.jpg" alt="FoodMe Icon"/>
 </a>
   <ul>
     
     {% if not loggedin %}
     <li><a href="/">Home</a></li>
     <li class="pure-menu-selected"><a href="/about">About</a></li>
     <li><a href="/help">Help</a></li>
     <li><a href="/login">Sign In</a></li>
     <li><a href="/register">Register</a></li>
 
     {% else %}
     
     <li><a href="/">Home</a></li>
     <li class="pure-menu-selected"><a href="/about">About</a></li>
     <li><a href="/help">Help</a></li>
     <li><a href="/favorite">Favorites</a></li>	
     <li><a href="/logout">Logout</a></li>
     {% endif %}
   </ul>
</div>

<div class="background">
  {% if not loggedin %}
  not logged in
{% else %}
<br>
Currently logged in as {{username}}...
<br>
{% endif %}


<div class="rectangle rounded texts">
  <div class="bold big-text">Your favorite recipes:</div>
  <br>
  STUFF HERE
  
</div>

<a href="#" class="scrollup"></a>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/static/main.js"></script>
</html>
