<!doctype html>
<html>
  <div class="pure-skin-pretty">
    
<head>
<link rel="stylesheet" href="/static/extras.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="/static/dropit/dropit.css" type="text/css">

</head>

<style>
  .background {
  
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  background-image: url("/static/cheesecake.jpg");
  background-attachment: fixed;    
  background-repeat: no-repeat;
  background-size: cover;
  }

  
</style>
<div class="help">&nbsp;
  <a href="/help"><img id="help-img" src="/static/help.png" alt="Help Icon"/></a>
&nbsp;&nbsp;
</div>

{% if loggedin %}
<div class="profile">
  <ul class="menu">
    <li>
      <a href="/profile"><img src="/static/user.jpg" alt="Search Icon"/></a>
      <ul>
	<li><a href="/profile">Your Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </li>
  </ul>
</div>
{% endif %}

<div class="search-bar">
  
       <form class="pure-form">
	 <input type="text" class="pure-input-rounded">
	 <button type="submit" class="pure-button">
	   <img src="/static/search.png" alt="Search Icon"/></button>
       </form>

</div>

<div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-pull-right">
 
  <a class="pure-menu-heading" href="/"> 
    <img src="/static/icon.jpg" alt="FoodMe Icon"/>
  </a>
  <ul class="times-new">
    {% if not loggedin %}
    
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/random">Random</a></li>
    <li><a href="/login">Sign In</a></li>
    <li><a href="/register">Register</a></li>	
     
    {% else %}
    
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/random">Random</a></li>
    <li><a href="/favorite">Favorites</a></li>	
  
    {% endif %}
   </ul>
</div>

<div class="background">
  <br><br><br><br>

<a href="#" class="scrollup"></a>
{% if not loggedin %}
{% else %}
<br>
Currently logged in as {{username}}...
<br>
{% endif %}
<div class="rectangle rounded texts">
   <div class="bold">How do I use it?</div>
   <div class="bold">Do I have to create an account?</div>
   <div class="bold">WHAT:</div>
   <div class="bold">WHAT:</div>  
</div>
<br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/static/main.js"></script>
<script src="/static/dropit/dropit.js"></script>



</html>
