<!DOCTYPE HTML>
<html>

<div class="pure-skin-pretty">
</head>


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="/static/extras.css">

<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->

</head>

<div class="pure-g">
  <div id="layout" class="pure-g">
  </div>
</div>

<div class="pure-menu pure-menu-open">
  <a class="pure-menu-heading">Yahoo! Sites</a>
  
  <ul>
    <li><a href="#">Flickr</a></li>
    <li><a href="#">Messenger</a></li>
    <li><a href="#">Sports</a></li>
    <li><a href="#">Finance</a></li>
    <li class="pure-skin mine">More Sites!</li>
    <li><a href="#">Games</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">OMG!</a></li>
  </ul>
</div>
<!--
<div id="demo-horizontal-menu">
  <ul id="std-menu-items">
    <li class="pure-menu-selected"><a href="#">Flickr</a></li>
    <li><a href="#">Messenger</a></li>
    <li><a href="#">Sports</a></li>
    <li><a href="#">Finance</a></li>
    <li>
      <a href="#">Other</a>
      <ul>
        <li class="pure-menu-heading">More from Yahoo!</li>
        <li class="pure-menu-separator"></li>
        <li><a href="#">Autos</a></li>
        <li><a href="#">Flickr</a></li>
        <li><a href="#">Answers</a></li>
        <li>
          <a href="#">Even More</a>
          <ul>
            <li><a href="#">Horoscopes</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">OMG</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

<script>
  app.yui.ready(function () {
  YUI({
  classNamePrefix: 'pure'
  }).use('gallery-sm-menu', function (Y) {
  
  var horizontalMenu = new Y.Menu({
  container         : '#demo-horizontal-menu',
  sourceNode        : '#std-menu-items',
  orientation       : 'horizontal',
  hideOnOutsideClick: false,
  hideOnClick       : false
  });
  
  horizontalMenu.render();
  horizontalMenu.show();
  
  });
  
  });
</script>
-->
{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class=flashes>
  {% for message in messages %}
  {{ message }}
  {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endblock %}
<br>
<div class="error">
  {% if error %}
  Incorrect password! Please try again.<br><br>
  {% elif notreg %}
  Username was not recognized. Please register.<br><br>
  {%endif%}
</div>
<form class="pure-form" method="POST">
  Username: 
  <br>  
  <input class="form-stuff" type="text" size="30" placeholder="Username" name="user"></input>
  <br><br>
      Password:
  <br>
  <input class-"form-stuff" type="password" size="30" placeholder="Password" name="passwd"></input>
  <br><br><button class="pure-button" name="submit" value="yes">Submit</button>
</form>

<div class="pure-g">
  <div class="pure-u-3-24"></div>
  <div class="pure-u-1-24"></div> 
  <div class="pure-u-16-24">
    <img id="banner" src="/static/banner.jpg" alt="Banner Image"/>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-3-24"></div>
</div>
</div>

</html>


