<!DOCTYPE HTML>
<html>
<div class="pure-skin-pretty">
</head>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="/static/extras.css">
<link rel="stylesheet" href="/static/dropit/dropit.css" type="text/css">

<style>

  .background {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  background-image: url("/static/fruit.jpg");
  background-attachment: fixed;    
  background-repeat: no-repeat;
  background-size: cover;
  }

</style>

</head>

<div class="help">&nbsp;
  <a href="/help"><img id="help-img" src="/static/help.png" alt="Help Icon"/></a>
&nbsp;&nbsp;
</div>

<div class="search-bar">
       <form class="pure-form" method="POST">
	 <input type="text" class="pure-input-rounded" placeholder="Search recipes or keywords..." name="searched">
	 <button type="submit" class="pure-button">
	   <img src="/static/search.png" alt="Search Icon"/></button>
       </form>

</div>

<div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-pull-right">
  <a class="pure-menu-heading" href="/"> 
    <img src="/static/icon.jpg" alt="FoodMe Icon"/>
  </a>
  <ul class="times-new">
        <li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/random">Random</a></li>
	<li class="pure-menu-selected"><a href="/login">Sign In</a></li>
	<li><a href="/register">Register</a></li>
	
  </ul>
</div>

<div class="background">
    <br><br><br><br>

    <div class="rectangle rounded">
      
      <span><div>
	  <div class="error">
	  
	  {% with messages = get_flashed_messages() %}
	  {% if messages %}
	  <div class=flashes>
	    {% for message in messages %}
	    {{ message }}
	    {% endfor %}
	  </div>
	  {% endif %}
	  {% endwith %}
	  
	  {% if error %}
	  Incorrect password! Please try again.<br><br>
	  {% elif notreg %}
	  Username was not recognized. Please register.<br><br>
	    {%endif%}
	  </div>
	  <form class="pure-form texts center" method="POST">
	    <div class="bold">Username:</div>
	    <br> 
	    <input class="form-stuff center texts" type="text" size="30" placeholder="Username" name="user"></input>
	    <br><br>
	    <div class="bold">Password:</div>
	    <br>
	    <input class="form-stuff center texts" type="password" size="30" placeholder="Password" name="passwd"></input>
	    <br><br><button class="pure-button center" name="submit" value="yes">Submit</button>
	  </form>
      </span>
      </div>
    </div>
    
    <a href="#" class="scrollup"></a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/static/main.js"></script>

<script src="/static/dropit/dropit.js"></script>
</html>
