<html>
  <link rel="stylesheet" href="../static/nutritable.css" type="text/css">
  <table id="tb">
    <thead>
      <tr>
	<td colspan="2">
	  <h2 class="nutrition_header">Nutrition Facts</h2></td> 
      </tr>
    </thead>
    <tbody>
      <tr>
	<td class="topbar" colspan="2">Serving Size {{sizes}} &nbsp;</td>
      </tr>
      <tr>
	<td id="amount" colspan="2">Amount Per Serving</td>
      </tr>
      <tr>
	<td class="calbar"  colspan="1"><strong>Calories</strong> {{calories}}</td>
	<td class="calbar"><strong>Calories From Fat</strong> {{fatcals}}</td>
      </tr>
      <tr>
	<td class="right_align _bottom_" id="dv" colspan="2">% Daily Value*</td>
      </tr>
      <tr>
	<DL>
	<td class="_bottom_" colspan="1"><strong><DT>Total Fat</strong> {{fat}}g</td>
	<td class="right_align _bottom_">{{fatdv}}%</td>
      </tr>
      <tr>
	<td class="_bottom_" colspan="1"><DD>Saturated Fat {{satfat}}g</td>
	<td class="right_align _bottom_">{{satfatdv}}%</td>
      </tr>
      <tr>
	<td class="_bottom_" colspan="2"><DD>Trans Fat {{transfat}}g </td>
      </DL>
      </tr>
      <tr>
	<td class="_bottom_" colspan="1"><strong>Cholesterol</strong> {{cholesterol}}mg</td>
	<td class="right_align _bottom_">{{cholesteroldv}}%</td>
      </tr>
      <tr>
	<td class="_bottom_" colspan="1"><strong>Sodium</strong> {{sodium}}mg</td>
	<td class="right_align _bottom_">{{sodiumdv}}%</td>
      </tr>
      <tr>
	<td class="_bottom_" colspan="1"><strong>Total Carbohydrate</strong> {{carb}}g</td>
	<td class="right_align _bottom_">{{carbdv}}% </td>
      </tr>
      <tr>
	<td class="_bottom_" colspan="2"<td class="_bottom_" colspan="1"><DD>Dietary Fiber {{df}}g</DD></td>
	</tr>
      <tr>
	<td class="_bottom_" colspan="2"><DD>Sugar {{sugar}}</DD></td>
      </tr>
      <tr>
	<td class="topbar" colspan="1"><strong>Protein</strong> {{protein}}g</td>
	<td class="topbar right_align"> {{proteindv}}%</td>
      </tr>
      <tr>
	<td class="_bottom_" colspan="1">Vitamin A <span style="float:right; padding-right:20px">{{vitA}}%</span></td>
	<td class="_bottom_ ">
	  <ul class="dots">
	    <li>Vitamin C <span style="float:right">{{vitC}}%</span></li>
	  </ul> 
	</td>
      </tr>
      <tr>
	<td class="_graybottom_" colspan="1">Calcium <span style="float:right; padding-right:20px">{{calcium}}%</span>
	<td class="_graybottom_">
	  <ul class="dots">
	    <li>Iron <span style="float:right">{{iron}}%</span></li>
	  </ul>
	</td>
      </tr>
      <tr>
	<td class="smallinfo" colspan="2"><p>*Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs:</p></td>
      </tr>
      <tr>
	<td colspan="2">
	  <table class="smallinfo">
	    <tr>
	      <td class="_bottom_" colspan="1"></td>
	      <td class="_bottom_">Calories:</td>
	      <td class="_bottom_">2,000</td>
	      <td class="_bottom_">2,500</td>
	    </tr>
	    <tr>
	      <td>Total Fat</td>
	      <td>Less than</td>
	      <td>65g</td>
	      <td>80g</td>
	    </tr>
	    <tr>
	      <td>Saturated Fat</td>
	      <td>Less than</td>
	      <td>20g</td>
	      <td>25g</td>
	    </tr>
	    <tr>
	      <td>Cholesterol</td>
	      <td>Less than</td>
	      <td>300mg</td>
	      <td>300 mg</td>
	    </tr>
	    <tr>
	      <td>Sodium</td>
	      <td>Less than</td>
	      <td>2,400mg</td>
	      <td>2,400mg</td>
	    </tr>
	    <tr>
	      <td>Total Carbohydrate</td>
	      <td> </td>
	      <td>300g</td>
	      <td>375g</td>
	    </tr>
	    <tr>
	      <td>Dietary Fiber</td>
	      <td> </td>
	      <td>25g</td>
	      <td>30g</td>
	    </tr>
	  </table>
	<td>
      </tr>     
  </table>
</html>
