<!DOCTYPE HTML>
<html>
<div class="pure-skin-pretty">

</head>

<link rel="stylesheet" href="/static/extras.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->

</head>

<style>
  .background {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  background-image: url("/static/pasta.jpg");
  background-attachment: fixed;    
  background-repeat: no-repeat;
  background-size: cover;
  }
</style>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class=flashes>
  {% for message in messages %}
  {{ message }}
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="help">&nbsp;
  <a href="/help"><img id="help-img" src="/static/help.png" alt="Help Icon"/></a>
&nbsp;&nbsp;
</div>

<div class="search-bar">  
       <form class="pure-form">
	 <input type="text" class="pure-input-rounded">
	 <button type="submit" class="pure-button">
	   <img src="/static/search.png" alt="Search Icon"/></button>
       </form>

</div>

<div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-pull-right">
  <a class="pure-menu-heading" href="/"> 
    <img src="/static/icon.jpg" alt="FoodMe Icon"/>
 </a>
   <ul class="times-new">
        <li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/random">Random</a></li>
	<li><a href="/login">Sign In</a></li>
	<li class="pure-menu-selected"><a href="/register">Register</a></li>

   </ul>
</div>

<div class="background">
  
  <a href="#" class="scrollup"></a>

  <br><br><br><br>
  <div class="bold texts center rectangle rounded">
  {% if empty %}
  <div class="error"> 
    Missing fields! Please try again. <br>
  </div> 
  {% elif reg_error %}
  <div class="error"> 
    Passwords did not match! Please try again. <br>
  </div>
  {% elif bad_pword %}
  <div class="error"> 
    Your password must be at least SIX characters long and have an uppercase letter, lowercase letter, and a number!<br>
  </div>

  {% elif user_taken %}
  <div class="error"> 
    Sorry! Username "{{usr}}" is already taken. Please try again. <br>
  </div>
  {% elif special_char %}
  <div class="error"> 
    Sorry! Your username may NOT include these special characters: ^[~!@#$%^&*()_+{}":;']+$"<br>
   </div>

  {% else %}
  Hello, new users! Please fill out this form for your new account:<br>
  {%endif%}
<br><br>

<form class="pure-form" method="POST">
  Username: 
  <br>  
  <input class="texts" type="text" size="30" placeholder="Username" name="username"></input>
  <br><br>
  Password:
  <br>
  <input class="texts" type="password" size="30" placeholder="Password" name="passwd"></input>
  <br><br>
  Re-type Password:
  <br>
  <input class="texts" type="password" size="30" placeholder="Retype Password" name="repasswd"></input>
  <br><br>
  First Name:
  <br>
  <input class="texts" type="text" size="30" placeholder="First Name" name="fname"></input>
  <br><br>
  Last Name:<br>
  <input class="texts" type="text" size="30" placeholder="Last Name" name="lname"></input>
  <br><br>
  <button class="pure-button" name="submit" value="yes">Submit</button>
</form>

  </div>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/static/main.js"></script>

</html>
